body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.logo-container {
    display: none;
    margin-bottom: 20px;
}

.logo-container img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

#nickname {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.quiz-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#soal-container {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#opsi {
    list-style: none;
    padding: 0;
    margin: 0;
}

#opsi li {
    margin-bottom: 10px;
}

#jawab-btn, #next-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#jawab-btn:hover, #next-btn:hover {
    background-color: #3e8e41;
}

#hasil {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
